.sideBar {
    display: flex;
    padding: 2.5rem 1.5625rem 2.9375rem 1.5625rem;
    flex-direction: column;
    align-items: center;
    gap: 2.125rem;
    flex-shrink: 0;
    background: var(--bg-secondary);
    overflow: hidden;
}

.menu_item {
    cursor: pointer;
    padding: 0.94rem 1rem;
    margin-block: .2rem;
    color: var(--text-secondary);
}

.menu_item.active {
    border-radius: 0.375rem;
    background: var(--bg-tertiary);
    color: var(--text-primary);
    border: 0.5px solid var(--border-primary);
}

.menu_item:hover {
    background: var(--bg-tertiary);
    border-radius: 0.375rem;
    color: var(--text-primary);
}

.logoutItem {
    margin: 0 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: Mulish;
    padding: 0.94rem 1.75rem;
    margin-block: .2rem;
}

.logoutItem:hover {
    color: var(--text-primary);
    border-radius: 0.375rem;
}